<%= tag.div nil, id: 'map2' %>


<script>
map = new GMaps({
  div: '#map2',
  lat: -12.043333,
  lng: -77.028333
  
});

map.addMarker({
  lat: -12.043333,
  lng: -77.028333,
  title: 'Lima',

  infoWindow: {
  content: '<p>HTML Content</p>'
}
});
</script>
