<p id="notice"><%= notice %></p>

<p>
  <strong>Time zone:</strong>
  <%= @kt_report.time_zone %>
</p>

<%= link_to 'Edit', edit_kt_report_path(@kt_report) %> |
<%= link_to 'Back', kt_reports_path %>
